# Application Configuration
NODE_ENV=development
PORT=8080
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=gadaitop
ENABLE_ORM_LOGS=true

# JWT Configuration
JWT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----
YOUR_PRIVATE_KEY_HERE
-----END RSA PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN RSA PUBLIC KEY-----
YOUR_PUBLIC_KEY_HERE
-----END RSA PUBLIC KEY-----
JWT_EXPIRATION_TIME=3600

# S3 Configuration
S3_BUCKET=your-bucket-name
S3_REGION=your-region
S3_KEY_PREFIX=your-key-prefix
S3_ENDPOINT=your-endpoint
S3_PUBLIC_BASE_URL=your-public-base-url

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key